<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/viniciusemanuel/Desktop/coisas/colors_mycommand.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/viniciusemanuel/Desktop/coisas/colors_mycommand.err</string>
	<key>Program</key>
	<string>/Users/viniciusemanuel/Desktop/coisas/RGBColorUtilMacXPCService</string>
	<key>MachServices</key>
	<dict>
		<key>br.com.RGBColorUtilMacXPCService</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>br.com.RGBColorUtilMacXPCService</string>
</dict>
</plist>
